---
layout: default
pagination: 
  enabled: true
---
<div class="home">

<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">{{ site.title }}</h1>
      {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
    </header>
  </div>
</div>

<div class="wrapper">
  <div> 
    <h2 class="post-link">Welcome to the IA377 course page</h2>
    {% if site.description %}<p>{{ site.description}}</p>{% endif %}
  <p dir="auto"> <a href="https://www.cpg.feec.unicamp.br/cpg/lista/caderno_horario_show.php?id=1795" rel="nofollow">IA377</a> is a 02 credits seminar class offered by the School of Electrical and Computer Engineering (<a href="https://www.fee.unicamp.br" rel="nofollow">FEEC</a>) at the University of Campinas (<a href="https://www.unicamp.br" rel="nofollow">UNICAMP</a>), with the objective to discuss state-of-art topics in the broad field of Computer Engineering.</p>
<p dir="auto">Undergraduate and graduate students will be exposed to top-tier talks and panel conversations by national and international experts from academia and industry.</p>

		<h2 class="post-link">About the 1S/2023 edition</h2>
<p dir="auto">The IA377 seminar class in 1S/2023 will be coordinated by <a href="https://www.dca.fee.unicamp.br/~chesteve/" rel="nofollow">Prof. Christian Esteve Rothenberg</a> and will take place every Thursday from 1pm to 2pm in the Sala de Seminários (LE 46) located in <a href="https://goo.gl/maps/fS2vTDTAYPwM4f7e9" rel="nofollow">building A of FEEC</a>. The seminar is open to participation by guests (anyone not officially enrolled in the class) and are expected to be streamed online through the <a href="https://www.youtube.com/channel/UChptcdqmzNLQ8Oe03DEjIDQ" rel="nofollow">Youtube channel of FEEC</a>.</p>
<p dir="auto">Students will be asked to write a summary and answer some key aspects of each seminar. In addition, the students  will learn good practices on identifying the relevant literature of the seminar topics. Along this process, AI tools like ChatGPT will be also explored.</p>
<p dir="auto">Further instructions and materials can be found in the <a href="https://github.com/ia377-feec-unicamp">GitHub repository</a>.</p>
<p dir="auto">Consider joining the <a href="https://groups.google.com/g/ia377-feec-unicamp/">IA377 Seminar Mailing list</a> and adding the events to your agenda (<a href="https://calendar.google.com/calendar/ical/c_bd56c44a65b9dae27fe531b2b5c684a6c8fdf8a410edb595be2709bc16e55942%40group.calendar.google.com/public/basic.ics" rel="nofollow">Google Calendar</a>, <a href="https://calendar.google.com/calendar/ical/c_bd56c44a65b9dae27fe531b2b5c684a6c8fdf8a410edb595be2709bc16e55942%40group.calendar.google.com/public/basic.ics" rel="nofollow">iCal</a>)!.</p>		
<p dir="auto">Seminar topics in the tentative <a href="https://ia377-feec-unicamp.github.io/schedule/" rel="nofollow">schedule</a> include:</p>
<ul dir="auto">
<li>5G roll-out and initiatives (e.g. Open5G@Campinas)</li>
<li>6G (Beyond 5G) vision and R&amp;D initiatives (e.g., 6G Brazil, EU SNS projects)</li>
<li>FAPESP Engineering Research Centers (e.g., C4AI, BioS, SMARTNESS 2030)</li>
<li>Digital Twins</li>
<li>Intent-Based Networking (IBN)</li>
<li>Metaverse</li>
<li>XR (augmented reality - AR, virtual reality - VR, and mixed reality - MR)</li>
<li>Blockchain</li>
<li>AI/ML</li>
<li>Quantum Communications &amp; Computing</li>
<li>OpenRAN: Dissagregation of Mobile Networks</li>
<li>Computing and Networking Research for Data Intensive Sciences</li>
<li>Open Source developments and ecosystems</li>
</ul>  
	
<h2 class="post-link">Calendar</h2>	
<p dir="auto"> Add the seminar schedule to your <a href="https://calendar.google.com/calendar/embed?src=c_bd56c44a65b9dae27fe531b2b5c684a6c8fdf8a410edb595be2709bc16e55942%40group.calendar.google.com&ctz=America%2FSao_Paulo" rel="nofollow">Google Calendar</a> or <a href="https://calendar.google.com/calendar/ical/c_bd56c44a65b9dae27fe531b2b5c684a6c8fdf8a410edb595be2709bc16e55942%40group.calendar.google.com/public/basic.ics" rel="nofollow">iCal</a> application.
</p>	

<iframe src="https://calendar.google.com/calendar/embed?src=c_bd56c44a65b9dae27fe531b2b5c684a6c8fdf8a410edb595be2709bc16e55942%40group.calendar.google.com&ctz=America%2FSao_Paulo" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

	</div>
	
	
	
<ul class="post-list">
  {% for post in paginator.posts %}
  <li>
    <h2>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    <section class="post-excerpt" itemprop="description">
      <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
    </section>
    <section class="post-meta">
      <div class="post-date">{{ post.date | date: "%B %-d, %Y" }}</div>
      <!--<div class="post-categories">
      {% if post.categories.size > 0 %}in {% for cat in post.categories %}
        {% if site.jekyll-archives %}
        <a href="{{ site.baseurl }}/category/{{ cat }}">{{ cat | capitalize }}</a>{% if forloop.last == false %}, {% endif %}
        {% else %}
        <a href="{{ site.baseurl }}/posts/#{{ cat }}">{{ cat | capitalize }}</a>{% if forloop.last == false %}, {% endif %}
        {% endif %}
      {% endfor %}{% endif %}
      </div> -->
    </section>
  </li>
  {% if forloop.last == false %}
  <hr>
  {% endif %}
  {% endfor %}
</ul> 

<!--<nav class="pagination" role="navigation">
	<p>
    {% if paginator.previous_page %}
			{% if paginator.page == 2 %}
			<a class="newer-posts" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
        </span>
      </a>
			{% else %}
			<a class="newer-posts" href="{{ site.baseurl }}{{ paginator.next_page_path }}">
				<span class="fa-stack fa-lg">
					<i class="fa fa-square fa-stack-2x"></i>
					<i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
				</span>
			</a>
			{% endif %}
		{% else %}
		<span class="fa-stack fa-lg">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
    </span>
		{% endif %}
		<span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
		{% if paginator.next_page %}
		<a class="newer-posts" href="{{ site.baseurl }}{{ paginator.next_page_path }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
      </span>
    </a>
		{% else %}
		<span class="fa-stack fa-lg">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
    </span>
		{% endif %}
	</p>
</nav> -->

</div>
</div>
